@font-face {
    font-family: MaruBuri-Regular;
    src:url(../font/MaruBuri-Regular.otf);
    font-weight:normal;
}

@font-face{
    font-family: FrankRuhlLibre-Regular;
    src:url(../font/FrankRuhlLibre-Regular.ttf);
    font-weight: normal;
}

p class{
    font-family: MaruBuri-Regular;
    font-size: 15px;
}

.large{
    font-family: MaruBuri-Regular;
    font-size: x-large;
    text-align: center;
    letter-spacing: 0.3em;
    line-height: 150%;
}

.medium{
    font-family: MaruBuri-Regular;
    font-size: large;
    font-weight: 100;
    text-align: center;
    word-spacing: 0.6em;
}

.medium_1{
    font-family: FrankRuhlLibre-Regular;
    font-size: small;
    text-align: center;
    word-spacing: 0.5em;
    font-weight: 900;
}

footer{
    font-family: MaruBuri-Regular;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    padding: 10px;
    background-color: darkseagreen;
    color: white;
    text-align: center;
}
